.container {
    position: absolute;
    bottom: -1px;
    transform: translateX(7px);
    border-top-left-radius: var(--mantine-radius-sm);
    border-top-right-radius: var(--mantine-radius-sm);
    width: 100%;
    background: var(--mantine-color-body);
    @media (max-width: $mantine-breakpoint-sm) {
        border-radius: 0;
        bottom: unset;
        top: 54px;
    }
    @media (max-width: 1320px) {
        transform: translateX(0);
    }
}

.courseContent {
    padding-top: var(--mantine-spacing-xs);

    & > *:not(:first-child) {
        padding: 0 var(--mantine-spacing-lg);
    }

    @media (max-width: $mantine-breakpoint-sm) {
        padding-top: var(--mantine-spacing-lg);
        & > *:not(:first-child) {
            padding: 0 var(--mantine-spacing-md);
        }
    }
}

.courseDetails {
    padding:  0 var(--mantine-spacing-lg);
    @media (max-width: 670px) {
        padding: var(--mantine-spacing-xs) 4px 0 ;
    }
}

.imageContainer {
    margin: var(--mantine-spacing-lg) 0 var(--mantine-spacing-lg) var(--mantine-spacing-lg);
    @media (max-width: 670px) {
        margin: var(--mantine-spacing-xs) 4px 0 ;
    }
}

.image {
    @media (max-width: 360px) {
        width: 100% !important;
        height: 100% !important;
    }
}


.courseBanner {
    background: linear-gradient(90deg, rgb(145 167 255 / 20%) 0%, rgb(77 171 247 / 20%) 100%);
    border-radius: var(--mantine-radius-lg);
    margin: var(--mantine-spacing-lg) var(--mantine-spacing-lg) 0;
    padding: var(--mantine-spacing-md);
    @media (max-width: 670px) {
        flex-wrap: wrap;
        margin-top: 0;
    }
}

.notFoundImg {
    fill: light-dark(black, white)
}




