.container {
    margin-top: 15px;
    border-top-left-radius: var(--mantine-radius-lg);
    border-top-right-radius: var(--mantine-radius-lg);
    width: 100%;
    background: var(--mantine-color-body);
    @media (max-width: $mantine-breakpoint-sm) {
        min-height: calc(100vh - 84px);
        border-radius: 0;
        margin-top: 0;
    }
}

.courseContent {
    padding: var(--mantine-spacing-lg);
    @media (max-width: $mantine-breakpoint-sm) {
        padding: 0 var(--mantine-spacing-md);
    }
}

.courseBanner {
    background: linear-gradient(90deg, rgb(145 167 255 / 20%) 0%, rgb(77 171 247 / 20%) 100%);
    padding: var(--mantine-spacing-sm) var(--mantine-spacing-lg);
    border-radius: var(--mantine-radius-lg);
    margin-top: var(--mantine-spacing-lg);
    @media (max-width: 670px) {
        flex-wrap: wrap;
        margin-top: 0;
        padding: var(--mantine-spacing-sm) var(--mantine-spacing-lg);
    }
}

.image {
    border-radius: var(--mantine-radius-lg);
}


