
.dataTableContainer {
    margin-top: 15px;
    width: 100%;
    border-top-left-radius: var(--mantine-radius-lg);
    border-top-right-radius: var(--mantine-radius-lg);
    @media (max-width: $mantine-breakpoint-sm) {
        min-height: calc(100vh - 148px);
        border-radius: 0;
        margin-top: 0;
        & * {
            font-size: 12px;
        }
    }
}

.dataTableInfo {
    height: 28px;
    padding: 0 var(--mantine-spacing-xs);
    background: var(--mantine-color-body);
    border-top-left-radius: var(--mantine-radius-lg);
    border-top-right-radius: var(--mantine-radius-lg);
    opacity: 0;
    @media (max-width: $mantine-breakpoint-sm) {
        border-radius: 0;
    }
    @media (max-width: $mantine-breakpoint-sm) {
         display: none;
    }

    &[data-active='true'] {
        animation: .3s fadeInUp both;
        background-color: rgb(255 255 255 / 59%);
    }

    @media (max-width: $mantine-breakpoint-sm) {
        &[data-active='true'] {
            display: block;
        }
    }
}

@keyframes fadeInUp {
    0% {
        transform: translateY(90%);
        opacity: 0;
    }
    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}

.dataTable {
    min-width: 100%;
    height: 100%;
    opacity: .96;
    border-top-left-radius: var(--mantine-radius-lg);
    border-top-right-radius: var(--mantine-radius-lg);
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    transition: .3s border-radius;
    @media (max-width: $mantine-breakpoint-sm) {
        border-radius: 0 !important;
    }
}
