{
  "extends": [
    "react-app",
    "plugin:react-hooks/recommended",
    "plugin:import/recommended"
  ],
  "rules": {
    "no-console": "error",
    "react-hooks/exhaustive-deps": "off",
    "import/order": [
      "error",
      {
        "groups": [
          "builtin",
          "external",
          [
            "parent",
            "sibling"
          ],
          "internal"
        ],
        "pathGroups": [
          {
            "pattern": "@/**",
            "group": "internal"
          },
          {
            "pattern": "./**",
            "group": "parent"
          },
          {
            "pattern": "../**",
            "group": "parent"
          }
        ],
        "pathGroupsExcludedImportTypes": [
          "react"
        ],
        "newlines-between": "always",
        "alphabetize": {
          "order": "asc",
          "caseInsensitive": true
        }
      }
    ]
  },
  "settings": {
    "import/resolver": {
      "alias": {
        "map": [
          [
            "@",
            "./src"
          ],
          [
            "tests",
            "./tests"
          ]
        ],
        "extensions": [
          ".ts",
          ".tsx",
          ".js",
          ".jsx"
        ]
      }
    }
  }
}