[data-full-screen] .m-54c44539{
    --_content-height: 100% !important;
}


.mantine-Modal-body{
    height: calc(100% - 60px);
}


/*body{*/
/*    @media (max-width: $mantine-breakpoint-sm) {*/
/*        overflow: hidden;*/
/*    }*/
/*}*/


.children-animation > * {
    animation: slideUp .15s ease-in-out both;
}

@keyframes slideUp {
    0% {
        transform: translateY(2%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}


