
html, body {
    overflow: auto;
    height: 100vh;
}

.mantine-Modal-body {
    overflow: auto;
    z-index: 99999;
}


.children-animation > * {
    animation: slideUp .4s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
}

@keyframes slideUp {
    0% {
        transform: translateY(5%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@media (max-width: $mantine-breakpoint-sm) {
    .modal-form .mantine-Input-input {
        font-size: var(--mantine-font-size-md);
        height:  var(--input-height-md);
    }

    .modal-form .mantine-Button-root{
        font-size: var(--mantine-font-size-md);
        height:  var(--button-height-md);
    }
}