


[data-full-screen] .m-54c44539{
    --_content-height: 100% !important;
}


.mantine-Modal-body{
    height: calc(100% - 60px);
}

.children-animation > * {
    animation: slideUp .4s ease-out both;
}

@keyframes slideUp {
    0% {
        transform: translateY(5%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
