.switchLabelWrapper {
    margin-right: auto;
}

.switchRoot {
    flex-grow: 1;
}

.switchBody {
    padding: var(--mantine-spacing-md);
    align-items: center;
    cursor: pointer;
}

.switchTrack {
    margin-left: var(--mantine-spacing-xl)
}

.titleContainer {
    @media (max-width: $mantine-breakpoint-sm) {
        padding: 0 var(--mantine-spacing-lg)
    }
}
.mainContainer{
    max-width: 600px;
    width: 100%;
}



