
.image {
    border-radius: var(--mantine-radius-lg);
}

.courseBanner {
    background: var(--mantine-color-blue-light);
    padding: var(--mantine-spacing-sm) var(--mantine-spacing-lg);
    border-radius: var(--mantine-radius-lg);
}

.courseControls {
    align-items: center;
    transition: all 0.1s linear ;
    position: fixed;
    top: 65px;
    left: var(--mantine-spacing-xl);
    right: var(--mantine-spacing-xl);
    padding: 0;
    margin: 0;
    display: flex;
    z-index: 4;
    @media(max-width: 670px){
        transition: all 0.1s ease-in;
        left: 0;
        right: 0;
    }
    &[data-active="true"] {
        left: 0;
        right: 0;
        box-shadow: var(--mantine-shadow-lg);
        top: 45px;
        & .courseControlsOverlay {
            position: absolute;
            inset: 0;
            background: light-dark(rgba(255, 255, 255, 0.8), rgba(0, 0, 0, 0.8));
            border-bottom: light-dark(rgba(255, 255, 255, 0.8), rgba(0, 0, 0, 0.8));
            backdrop-filter: blur(5px);
        }
    }
}

.courseControlsBreadcrumbs{
    flex-grow: 1;
    max-width: 100%;
    overflow: hidden;
    padding-right: var(--mantine-spacing-xs)
}
.courseControls.active {
    position: sticky;
    top: 50px;
}

.courseControlsBackButton{
    @media(max-width: 670px){
        display: none;
    }
}
.courseControlsBackActionButton{
    @media(min-width: 670px){
        display: none;
    }
}

.courseControlsBtns {
    margin-left: auto;
    @media(max-width: 670px){
        display: none;
    }
}

.courseMobileAffix{
    display: none;
    z-index: 5;
    @media(max-width: 670px){
        box-shadow: var(--mantine-shadow-xl);
        display: block;
    }
}

.container {
    margin: var(--mantine-spacing-lg);
    box-sizing: border-box;
    overflow: hidden;
    @media(max-width: 670px){
        margin: 0;
        min-height: calc(100vh - 45px);
        border-radius: 0;
        box-shadow: none;
    }

}

.courseHeader {
    color: var(--mantine-color-black);
    padding: var(--mantine-spacing-md) var(--mantine-spacing-sm)
}

.courseBadge {
    border: 1px solid var(--mantine-color-gray-7);
    border-radius: var(--mantine-radius-lg);
}

.courseMobileAffixButtons{
    z-index: 5;
    box-shadow: var(--mantine-shadow-lg);
}


