
.dataTableContainer {
    margin-top: 25px;
    width: 100%;
    @media (max-width: $mantine-breakpoint-sm) {
        min-height: calc(100vh - 148px);
        border-radius: 0;
        margin-top: 0;
        & * {
            font-size: 12px;
        }
    }
}

.dataTableInfo {
    height: 25px;
    padding: 0 0 3px 0;
    background: transparent;
    opacity: 0;
    box-shadow: none;
    @media (max-width: $mantine-breakpoint-sm) {
        border-radius: 0;
        display: none;
        padding:0;

    }
    &[data-active='true'] {
        animation: .3s fadeInUp both;
        background: transparent;
    }

    @media (max-width: $mantine-breakpoint-sm) {
        &[data-active='true'] {
            display: block;
        }
    }
}

@keyframes fadeInUp {
    0% {
        transform: translateY(90%);
        opacity: 0;
    }
    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}

.tablePaper{
    background: transparent;
    @media (max-width: $mantine-breakpoint-sm) {
        border-radius: 0;
    }
}

.tableHeadRow{
    font-size: var(--mantine-font-size-xs);
    @media (max-width: $mantine-breakpoint-sm) {
        font-size: 10px;
        padding: 2px 8px;
        height: 50px;
        border-radius: 0;
        :global(.mrt-table-head-cell-content-wrapper){
            white-space: pre-wrap;
            overflow: auto;

        }
    }
}

.tableCellRow{
    @media (max-width: $mantine-breakpoint-sm) {
        font-size: 12px;
    }
}

.tableContainer{
    border-radius: var(--mantine-radius-sm);
    border: calc(0.0625rem* var(--mantine-scale)) solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
    @media (max-width: $mantine-breakpoint-sm) {
        border-radius: 0;
        border: none;
    }
}
