
.wrapper {
    background: var(--mantine-color-body);
    width: 100%;
    margin-top: var(--mantine-spacing-xl);
    padding: var(--mantine-spacing-xl);
    /*padding-top: rem(60px);*/
    /*padding-bottom: rem(80px);*/
    @media (max-width: 47.99em) {
        /*padding-top: rem(0);*/
    }
}

.notFoundImg {
    fill: light-dark(black, white)
}



