.root {
    &[data-variant='danger'] {
        background-color: var(--mantine-color-red-9);
        color: var(--mantine-color-red-0);
    }

    &[data-variant='primary-gradient'] {
        background: var(--primary-gradient);
        color: var(--mantine-color-white);
        transition: filter 0.2s ease-out;
        &:hover {
            filter: hue-rotate(30deg);
        }
    }
}