body {
    margin: 0;
    padding: 0;
    color: #000000;
    font-family: Helvetica, Arial, sans-serif;
    background-color: #efeff1;
}

a {
    overflow-wrap: break-word;
    color: #228be6 !important;
}

.container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    background-color: #efeff1 !important;
}

.header, .content, .footer {
    padding: 20px;
    text-align: left;
}

.header {
    padding: 20px 20px 10px 10px;
    background-color: #efeff1 !important;
    text-align: left;
    border-bottom: 5px solid #000000;
}

.header img {
    width: 37%;
    max-width: 198px;
}

.content {
    background-color: #ffffff;
}

.content p {
    font-size: 14px;
    color: #536475;
    line-height: 1.6;
}

.button {
    display: inline-block;
    text-decoration: none;
    color: #ffffff !important;
    background: linear-gradient(90deg, rgb(76, 110, 245) 0%, rgb(34, 139, 230) 100%);
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 600;
    margin: 10px 0;
}

.footer {
    background-color: #efeff1;
    text-align: center;
    font-size: 12px;
    color: #9c9a9a;
}

.social img {
    display: inline-block;
    height: 32px;
    margin: 13px 10px;
}