.box{
    width: 335px;
    height: 120px;
    cursor: pointer;
    @media (max-width: $mantine-breakpoint-sm) {
        width: 100%;
    }
    @mixin hover {
        background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
    }
}


.chartBox{
    cursor: auto;
    @mixin hover {
        background-color: var(--mantine-color-body);
    }
}