
.root {
    height: rem(30);
    padding: 0 rem(5) 0 var(--mantine-spacing-sm);
    border-radius: var(--mantine-radius-sm);
    color: light-dark(var(--mantine-color-gray-5), var(--mantine-color-dark-2));
    background-color: light-dark(var(--mantine-color-white), var(--mantine-color-dark-6));
    border: 1px solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-gray-7));
    z-index: 200;

    &:hover {
        background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-5));
    }

    @media (max-width: $ mantine-breakpoint-xs) {
        padding: 0;
        width: rem(34);
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.shortcut {
    font-size: rem(11);
    line-height: 1;
    padding: rem(4) rem(7);
    border-radius: var(--mantine-radius-sm);
    color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-0));
    border: 1px solid light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-7));
    background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-7));
}


.hiddenMobile {
    @media (max-width: $mantine-breakpoint-xs) {
        display: none;
    }
}

.hiddenDesktop {
    @media (min-width: $mantine-breakpoint-xs) {
        display: none;
    }
}

