.table{
    height: calc(100vh - 110px)
}

.tableCellRow{
    height: 37px;
}

.tableHeaderText{
    font-size: var(--mantine-font-size-sm);
    @media (max-width: $mantine-breakpoint-sm) {
        line-height: 1;
        font-size: var(--mantine-font-size-xs)
    }
}