.root {
    height: 100vh;
    overflow: hidden;
}

.whereAreYouGoing {
    transition: transform .1s;
    animation: zoom-move 20s linear both;
}

@keyframes zoom-move {
    0% {
        transform: scale(.5) skew(0, 0);

    }
    100% {
        transform: scale(2.5) skew(15deg, 10deg);
    }
}